body {
    background-image: url('pexels-eberhardgross-691668.jpg'); /* Replace with your background image */
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height:100vh; /* Ensure the background covers the full viewport height */
  }
.current-weather-container {
  background: rgba(0, 0, 0, 0.164); 
  height: 400px; 
  border-radius: 9px; 
}


 